
@{
    ViewBag.Title = "NotFound";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Erdogan Yildiz</title>
    <link href="../../Content/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="../../Content/theme/css/grayscale.min.css" rel="stylesheet">

    <link href="../../Content/theme/css2/style.css" rel="stylesheet">

    <link href="../../Content/theme/css3/freelancer.min.css" rel="stylesheet">
    <link href="~/Content/BlogStyles/error.css" rel="stylesheet">
    <title>404 NotFound</title>
    <link rel="icon" href="~/Content/img/website-logo.png" type="image/gif" sizes="30x30">
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/Blog/Index" style="color:green;  font-family:Montserrat,-apple-system,BlinkMacSystemFont,Arial,sans-serif; font-size: 2em; font-weight:800;" OnMouseOver="this.style.color =
 '#6b6d6b'" onMouseOut="this.style.color = 'green'">Blog</a>
            <a class="navbar-brand js-scroll-trigger" href="/Home/Index" onMouseOver="this.style.color='#000'" onMouseOut="this.style.color='#fff'" style="margin-left:15px; font-size:2em;">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a  style="font-size:1.3em;" class="nav-link js-scroll-trigger" href="/Home#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size:1.3em;" class="nav-link js-scroll-trigger" href="/Home#portfolio/">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size:1.3em;" class="nav-link js-scroll-trigger" href="/Home#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <body class="bg-purple">

        <div class="stars">
            <div class="central-body">
                <img class="image-404" src="http://salehriaz.com/404Page/img/404.svg" width="300px">
                <a href="/Home/Index" class="btn-go-home" target="_blank">GO BACK HOME</a>
            </div>
            <div class="objects">
                <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
                <div class="earth-moon">
                    <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
                    <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
                </div>
                <div class="box_astronaut">
                    <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
                </div>
            </div>
            <div class="glowing_stars">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>

            </div>

        </div>

    </body>

</body>
    <script src="~/Content/BlogJavaScripts/error.js"></script>
</html>
